@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Poppins';
    box-sizing: border-box;
}

body, ul, li, a {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header h1,
footer p {
    text-align: center;
}

body {
    background-color: #f9f9f9;
}

body > header {
    background-color: #06AA48;
    color: #fff;
    margin: 0px;
    padding: 1rem;
}

body > header > h1 {
    margin: 0 auto;
}

body > header > h1,
body > article,
body > footer > nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

body > footer > p {
    background-color: #06AA48;
    color: #fff;
    margin: 0px;
    margin-top: 1rem;
    padding: 1.5rem 1rem;
}

h2,
section h3 {
    color: #06AA48;
}

section video,
#main-slider .splide__slide {
    border-radius: 10px;
}

#thumbnail-slider .splide__slide,
#thumbnail-slider .splide__slide img {
    border-radius: 5px;
}

#main-slider {
    margin-bottom: 10px;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 3px solid #06AA48;
}

.splide__arrow {
    background-color: #06AA48;
    width: 30px;
    height: 30px;
    font-size: 14px;
}

.splide__arrow svg {
    fill: #fff;
}

.splide__arrow--prev {
    left: 5px;
}

.splide__arrow--next {
    right: 5px;
}